<!doctype html>
{% if redirect %}
  <html lang="{{- language -}}">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- if eleventy.env.runMode == 'build' -%}
        <base href="https://bhavyasaggi.github.io/" target="_blank">
      {%- endif -%}
      <title>
        Redirect
      </title>
      <meta name="description" content="Redirecting to secondary location">
      <meta name="robots" content="noindex">
      <meta http-equiv="refresh" content="0; URL='{{ redirect }}'"/>
    </head>
    <body>
      Redirecting to
      <a href="{{ redirect }}" rel="nofollow">
        {{- redirect -}}
      </a>
    </body>
  </html>
{% else %}
  <html lang="{{- language -}}">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {%- if eleventy.env.runMode == 'build' -%}
        <base href="https://bhavyasaggi.github.io/" target="_blank">
      {%- endif -%}
      <title>
        {{- title -}}
      </title>
      <meta name="description" content="{{- description -}}">
      {%- if eleventyNoIndex -%}
        <meta name="robots" content="noindex">
      {%- endif -%}
      <link rel="canonical" href="{{- page.url -}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <style>
        {%- include "css/normalize.css" - %}
        {%- include "css/theme.css" - %}
        {%- include "css/base.css" - %}
        {%- include "css/responsive.css" - %}
        {%- include "css/utils.css" - %}
      </style>
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
      <script>
        if ('scrollRestoration' in history) {
          history.scrollRestoration = 'manual';
        }
        function toggleTheme() {
          const currentTheme = document.body.dataset.theme || "primary";
          const prefersTheme = currentTheme === "primary"
            ? "secondary"
            : "primary";
          document.body.dataset.theme = prefersTheme;
          localStorage.setItem("prefersTheme", prefersTheme);
        }
        document.addEventListener('load', function(e) {
          if (e.target && String(e.target.tagName).toUpperCase() === 'IFRAME') {
            e.target.dataset.loaded = "true";
          }
        }, true)
      </script>
    </head>
    <body data-theme="primary" class="reset-box shade">
      <script>
        (function() {
          const prefersTheme = localStorage.getItem("prefersTheme")
          const defaultTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "secondary"
            : "primary"
          document.body.dataset.theme = prefersTheme || defaultTheme;
        })();
      </script>
      <header id="root-header" class="stack gap-1 p-2 shade-secondary">
        <a href="/sitemap" rel="nofollow noindex" class="brick brick-center d-none d-md-block border p-1 shade-secondary text-monospace hover">
          &vellip;
        </a>
        <a class="brick brick-center shade-secondary" href="/">&nlt;&nbsp;bhavyasaggi.github.io</a>
        <label class="reset-box brick brick-center d-sm-none ms-auto shade-secondary cursor-pointer">
          <input id="switch-theme" class="reset-box shade-secondary" type="checkbox" hidden onclick="toggleTheme()"/>
          <span class="shade" aria-label="Toggle Theme"></span>
        </label>
      </header>

      {%- assign nav_items = collections.all | eleventyNavigation: eleventyBuildId -%}
      {%- assign nav_path = nav_items | eleventyNavigationPath: page.url -%}
      {%- assign nav_item = nav_path | last -%}
      {%- assign toc_items = content | eleventyTOC  -%}
      <div class="stack">
        <nav id="root-nav" class="be-1 p-1 d-md-none brick brick-md-2 brick-xl-1 shade-primary user-select-none">
          {%- render 'partials/navigation.liquid', nav_items: nav_items, nav_root: true, page_url: page.url -%}
        </nav>
        <div id="root-content" class="p-1 brick brick-6 brick-md-4">
          {%- render 'partials/navigation-breadcrumbs.liquid', nav_items: nav_path -%}
          <main id="main">
            <div class="m-0 b-0 p-0 min-vh-100">
              {{- content -}}
            </div>
          </main>
          <hr/>
          <section>
            <header>
              Keep Reading...
            </header>
            <br/>
            {%- render 'partials/navigation-list.liquid', nav_items: nav_item.children -%}
            {%- render 'partials/navigation-prevnext.liquid', nav_item: nav_item -%}
            <footer class="stack">
              <strong class="ms-auto">
                Date:&nbsp;
              </strong>
              <time datetime="{{ page.date }}">
                {{- page.date | date: "%Y-%m-%d" -}}
              </time>
            </footer>
          </section>
        </div>
        <aside id="root-aside" class="bs-1 p-1 d-xl-none brick brick-0 brick-xl-1 user-select-none">
          {%- render 'partials/navigation-toc.liquid' with toc_items as nav_items -%}
        </aside>
      </div>

      <footer id="root-footer" class="p-2 text-center shade-secondary">
        <mark class="text-monospace">
          {{- eleventyBuildId -}}
          &nbsp;©&nbsp;
          {{- "now" | date: '%Y' -}}
        </mark>
      </footer>
    </body>
  </html>
{%- endif -%}
