<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if eleventyNoIndex == true -%}
      <meta name="robots" content="noindex">
    {%- endif -%}
    <title>{{ title | default: 'bhavyasaggi.github.io' }}</title>
    <meta name="description" content="{{ eleventyNavigation.excerpt }}">
    <meta name="color-scheme" content="dark light">
    <link rel="canonical" href="https://bhavyasaggi.github.io{{ page.url | url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="dns-prefetch" href="https://esm.sh">
    <link rel="stylesheet" href="/css/simple.min.css">
    <link rel="preload" href="/css/prism.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/prism.css" fetchpriority="low"></noscript>
    <style>
      body {
        font-size: 16px;
      }
      body > header {
        padding: 0 0.5rem 1rem;
        text-align: start;
      }
      body > header > :only-child {
        margin-block-start: 1rem;
      }
      p {
        text-align: justify;
      }
      svg {
        vertical-align: middle;
      }
      code[class*='language-'],
      pre[class*='language-'] {
        font-size: 14px;
      }
      table,
      a {
        word-break: break-word;
      }
      a:has(kbd) {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>
      <div>
        <a href="/"><strong>/&nbsp;</strong>bhavyasaggi.github.io</a>
        <div style="margin-left:0.5rem;float:right">
          <a href="/sitemap/">Sitemap</a>
        </div>
      </div>
    </header>
    <main>
      {%- unless page.url == '/' %}
        <h1>{{ title }}</h1>
      {%- endunless %}
      {{ content }}
      {%- assign sortedAllCollections = collections.all | sort_natural: 'url' %}
      {%- unless page.url == '/' or page.url == '/sitemap/' or page.url == '/404.html' %}
        {%- if eleventyNavigation.key -%}
          <section>
            {%- assign childrenCollections = sortedAllCollections | eleventyNavigation: eleventyNavigation.key %}
            {%- if childrenCollections.length > 0 %}
              <div class="notice">
                <em>Read More</em>
                <ul>
                  {%- for entry in childrenCollections %}
                    <li>
                      <a href="{{ entry.url }}">{{ entry.data.title }}</a>
                    </li>
                  {%- endfor %}
                </ul>
              </div>
            {%- endif %}

            {%- assign parentCollections = sortedAllCollections
              | eleventyNavigationBreadcrumb: eleventyNavigation.key
            %}

            {%- if eleventyNavigation.parent %}
              {%- assign navCollections = sortedAllCollections | eleventyNavigation: eleventyNavigation.parent -%}
            {%- else %}
              {%- assign navCollections = sortedAllCollections | eleventyNavigation -%}
            {%- endif %}
            {%- for entry in navCollections %}
              {%- if entry.key == eleventyNavigation.key %}
                {%- assign prevIndex = forloop.index0 | minus: 1 %}
                {%- assign nextIndex = forloop.index0 | plus: 1 %}
                {%- if prevIndex >= 0 %}
                  {%- assign prevEntry = navCollections[prevIndex] %}
                {%- endif %}
                {%- if nextIndex < navCollections.length %}
                  {%- assign nextEntry = navCollections[nextIndex] %}
                {%- endif %}
              {%- endif %}
            {%- endfor %}

            {%- if parentCollections.length > 0 or prevEntry or nextEntry %}
              <header>
                <nav>
                  <ol>
                    {%- for entry in parentCollections %}
                      <li>
                        <a href="{{ entry.url }}">{%- icon "corner-left-up", "14" %}&nbsp;{{ entry.data.title }}</a>
                      </li>
                    {%- endfor %}
                    {%- if prevEntry %}
                      <li>
                        <a href="{{ prevEntry.url }}">{%- icon "arrow-left", "14" %}&nbsp;{{ prevEntry.data.title }}</a>
                      </li>
                    {%- endif %}
                    {%- if nextEntry %}
                      <li>
                        <a href="{{ nextEntry.url }}">
                          {{- nextEntry.data.title }}&nbsp;
                          {%- icon "arrow-right", "14" -%}
                        </a>
                      </li>
                    {%- endif %}
                  </ol>
                </nav>
              </header>
            {%- endif %}
          </section>
        {%- endif -%}
      {%- endunless %}
    </main>

    <footer>
      <em>© 20XX</em>
      <div>
        Built with <a href="https://11ty.dev">11ty</a> &
        <a href="https://simplecss.org">Simple.css</a>
      </div>
    </footer>

    <script type="module">
      import mermaid from 'https://esm.sh/mermaid@11.12.1';

      document.addEventListener('DOMContentLoaded', function () {
        mermaid.initialize({ startOnLoad: true, theme: 'neutral' });

        document.querySelectorAll('pre code.language-mermaid').forEach(function (block) {
          const pre = block.parentElement;
          const div = document.createElement('figure');
          div.className = 'mermaid';
          div.style.minHeight = pre.offsetHeight + 'px';
          div.style.fontSize = '0px';
          div.textContent = block.textContent;
          pre.parentElement.replaceChild(div, pre);
        });

        mermaid.init();
      });
    </script>
  </body>
</html>
